
.ingredients-card {
  position: sticky;
  top: 100px;

}

.form-row .ingredients-row {
  color: $deep-brown;
}

.ingredients-card-title {
  font-size: 22px;
  font-family: 'Pacifico', cursive;
  color: $deep-brown;
}
