.btn-ingredient:hover {
  opacity: 0,5;
}

.card-ingredient {
  margin: 0;
  padding: 0px 0px 3px 3px;
  text-align: center;
}

.btn-ingredient:hover {
  color: #0E0000;
}

.card-description {
  margin: 0;
  padding: 0px 0px 3px 3px;
  text-align: center;
}

.description-field {
  height: 600px;
}


