.cards-small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  a {
    text-decoration: none;
    color: $gray;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-small {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-small {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-small {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-empty {
  &:hover {
    transform: scale(1.05);
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-small {
  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }
}

.card-tools {
  position: absolute;
  top: 70px;
  left: 5px;
  display: none;
}

.card-delete {
  margin: 0;
  font-size: small;
  padding: 0px 3px 0px 3px;
}

.card-wrapper {
  position: relative;
  &:hover {
    .card-tools {
      display:block;
    }
  }
}

.card-wrapper-index {
  position: relative;
  &:hover {
    transform: scale(1.05);
  }
}

.card-owner {
  position: absolute;
  top: 10px;
  left: 5px;
  margin: 0;
  padding: 0px 3px 0px 3px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
